.navbar {
    padding: 20px 0;
}

.navbar .row {
    width: 100%;
    align-items: center;
    margin: 0;
}

.navbar-icon {
    display: flex;
    justify-content: flex-end;
    height: 40px;
    align-items: center;
}

@media screen and (min-width: 768px) {
    .navbar-icon {
        display: none;
    }
}

.navbar-icon span {
    width: 36px;
    height: 3px;
    background-color: #000;
    display: block;
    position: relative;
    transition: 0.3s;
}

.navbar-icon span:after {
    content: "";
    width: 36px;
    height: 3px;
    position: absolute;
    top: 9px;
    background-color: #000;
    transition: 0.3s;
}

.navbar-icon span:before {
    content: "";
    width: 36px;
    height: 3px;
    position: absolute;
    bottom: 9px;
    background-color: #000;
    transition: 0.3s;
}

.navbar-icon.active span {
    background-color: transparent;
}

.navbar-icon.active span:before {
    transform: rotate(45deg);
    bottom: 0;
    background-color: #fff;
}

.navbar-icon.active span:after {
    transform: rotate(-45deg);
    background-color: #fff;
    top: 0;
}

@media screen and (max-width: 768px) {
    .navbar-menu nav {
        visibility: hidden;
        position: fixed;
        display: none;
    }
}

.navbar-menu nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    justify-content: flex-end;
}

.navbar-menu nav ul li {
    margin: 0;
}

@media screen and (max-width: 768px) {
    .navbar-menu nav ul li {
        transform: translateX(-10px);
        opacity: 0;
    }
}

.navbar-menu nav ul li a {
    display: block;
    padding: 12px 20px;
    font-size: 14px;

    color: #000;
    transition: 0.3s;
}

.navbar-menu nav ul li a.cta {
    color: white;
}

.navbar-menu nav ul li:hover a {
    text-decoration: none;
    transform: translateY(-3px);
}

@media screen and (max-width: 768px) {
    .navbar-menu nav.active {
        display: block;
        visibility: visible;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        padding: 18px;
        background-color: #383838db;
    }
}

@media screen and (max-width: 768px) {
    .navbar-menu nav.active ul {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}

@media screen and (max-width: 768px) {
    .navbar-menu nav.active ul li {
        transform: translateX(0);
        opacity: 1;
        transition: 0.9s;
    }

    .navbar-menu nav.active ul li:nth-child(1) {
        transition-delay: 0.15s;
    }

    .navbar-menu nav.active ul li:nth-child(2) {
        transition-delay: 0.3s;
    }

    .navbar-menu nav.active ul li:nth-child(3) {
        transition-delay: 0.45s;
    }

    .navbar-menu nav.active ul li:nth-child(4) {
        transition-delay: 0.6s;
    }

    .navbar-menu nav.active ul li:nth-child(5) {
        transition-delay: 0.75s;
    }

    .navbar-menu nav.active ul li:nth-child(6) {
        transition-delay: 0.9s;
    }

    .navbar-menu nav.active ul li:nth-child(7) {
        transition-delay: 1.05s;
    }

    .navbar-menu nav.active ul li:nth-child(8) {
        transition-delay: 1.2s;
    }

    .navbar-menu nav.active ul li:nth-child(9) {
        transition-delay: 1.35s;
    }

    .navbar-menu nav.active ul li a {
        color: #fff;
        font-size: 16px;
    }

    .navbar-menu nav ul li a.logo {
        width: 80px;
    }
}