body{
    /* position: relative; */
}
img{
    width: 100%;
}

.pop-up-country{  

    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); 
    visibility: visible; 
    z-index: 10;
}

.pop-up-country-div{
    background-color: white;    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 50px 25px;
}

.county-img{
    width: 25%;
    margin: auto;
    margin-bottom: 25px;
}

.country-name-loc{
    font-weight: 900;
    text-transform: uppercase;
}

.pop-up-country h2{
    text-align: center;
}

.pop-up-country ul{
  
}







/* .overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7); 
    visibility: visible;
    opacity: 1;
    z-index: 55;
  }
  .overlay:target {
    visibility: visible;
    opacity: 1;
  }
  
  .popup {
    margin: 70px auto;
    padding: 20px;
    background: #fff;
    border-radius: 5px;
    width: 30%;
    position: relative; 
  }
  
  .popup h2 {
    margin-top: 0;
    color: #333;
    font-family: Tahoma, Arial, sans-serif;
  }
  .popup .close {
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #333;
  }
  .popup .close:hover {
    color: #06D85F;
  }
  .popup .content {
    max-height: 30%;
    overflow: auto;
  }
   */